@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.ant-input-wrapper,
.ant-input-affix-wrapper

{
    height: 48px;
}
